<app-header></app-header>
<app-header-section></app-header-section>
<section class="benefits-module mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="media benefit">
                    <div class="media-left">
                        <div class="icon-container d-flex align-items-center justify-content-center">
                            <span class="bi bi-emoji-smile"></span>
                        </div>
                        
                    </div>
                    <div class="media-body">
                        <h5 class="font-blue">Satisfacción 100% garantizada</h5>
                        <p>Si no es así <strong>te abonaremos o repetiremos</strong> el pedido de tus regalos</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media benefit">
                    <div class="media-left">
                        <div class="icon-container d-flex align-items-center justify-content-center">
                            <span class="bi bi-calendar"></span>
                        </div>
                    </div>
                    <div class="media-body">
                        <h5 class="font-blue">Entrega en fecha siempre</h5>
                        <p>Compromiso firme pues <strong>te pondremos la fecha por escrito</strong> en tu pedido de regalos</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media benefit">
                    <div class="media-left">
                        <div class="icon-container d-flex align-items-center justify-content-center">
                            <span class="bi bi-truck"></span>
                        </div>
                    </div>
                    <div class="media-body">
                        <h5 class="font-blue">Portes Gratis</h5>
                        <p>El envío de tus regalos <strong>será gratis</strong> si supera los 99€ de compra</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="what-gift">
    <div class="container">
        <span class="what-gift-title bold text-center">
            Encuentra miles de ideas de regalos de empresa en sólo 3 rápidos pasos
        </span>

        <form 
        >

            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="ideas-block option-selected" data-step="1" data-type="ideas-price" data-value-selected="100-300">
                        <span class="ideas-title">
                            <span>Qué quieres gastarte por regalo</span>
                        </span>
                        <select class="form-select">
                            <option selected>Selecciona el precio</option>
                            <option value="0-100">menos de 1 €</option>
                            <option value="100-300">entre 1 € y 3 €</option>
                            <option value="300-500">entre 3 € y 5 €</option>
                            <option value="500-900">entre 5 € y 9 €</option>
                            <option value="900-1500">entre 9 € y 15 €</option>
                            <option value="1500-2000">entre 15 € y 20 €</option>
                            <option value="2000-0">más de 20 €</option>
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <div class="ideas-block option-selected" data-step="2" data-type="ideas-quantity" data-value-selected="400">
                        <span class="ideas-title">
                            <span>Cuántos regalos necesitas</span>
                        </span>
                        <select class="form-select">
                            <option selected>Selecciona las unidades que gustes</option>
                            <option value="10">entre 1 y 10 unid</option>
                            <option value="50">entre 10 y 50 unid</option>
                            <option value="100">entre 50 y 100 unid</option>
                            <option value="400">entre 100 y 400 unid</option>
                            <option value="1000">entre 400 y 1000 unid</option>
                            <option value="2000">entre 1000 y 2000 unid</option>
                            <option value="5000">entre 2000 y 5000 unid</option>
                            <option value="5001">más de 5000 unid</option>
                        </select>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <div class="ideas-block option-selected" data-step="3" data-type="ideas-category" data-value-selected="" data-url="https://www.grupobillingham.com/ideas/form/%7Bideas-price%7D/%7Bideas-quantity%7D/%7Bideas-category%7D?template=categories">
                        <span class="ideas-title">
                            <span>Qué tipo de regalo te gusta</span>
                        </span>
                        <select class="form-select">
                            <option selected>Selecciona las categorías</option>
                            <option value="">Todas las categorías (919)</option>
                            <option value="tecnologia">Regalos Tecnología (58)</option>
                            <option value="bolsas-y-viaje">Bolsas y mochilas publicitarias (130)</option>
                            <option value="textil-publicitario">Ropa personalizada (132)</option>
                            <option value="ropa-laboral-personalizada">Ropa laboral (29)</option>
                            <option value="gorras-sombreros">Gorras y Sombreros (56)</option>
                            <option value="escritura">Artículos Escritura (59)</option>
                            <option value="llaveros-publicitarios">Llaveros personalizados (46)</option>
                            <option value="complementos">Complementos (30)</option>
                            <option value="verano-y-aventura">Ocio y Aire Libre (125)</option>
                            <option value="oficina">Articulos de oficina (91)</option>
                            <option value="bodas">Regalos de boda personalizados (18)</option>
                            <option value="hogar-y-bienestar">Regalos para Hogar (154)</option>
                            <option value="mascarillas-personalizadas">Mascarillas personalizadas (2)</option>
                            <option value="quedate-en-casa">Productos de protección personalizados (8)</option>
                            <option value="regalos-ecologicos-personalizados">Regalos ecológicos (119)</option>
                            <option value="playa">Articulos de Playa (35)</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">
                    DAME IDEAS <i class="icon-flipped flaticon-search81"></i>
                </button>
            </div>

            <div data-exit="what-gift" class="exit-off exit-off-mobile"></div>
        </form>
    </div>
</div>

