<app-header></app-header>
<div class="container">
    <h2>¿Quieres ser cliente?</h2>
    <p>Déjanos tus datos y nos pondremos en contacto contigo.</p>
    <form (ngSubmit)="registerUser()" #registerForm="ngForm">
        <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="userRegister.email" required>
        </div>
        <div class="form-group">
            <label for="username">Nombre de usuario</label>
            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="userRegister.username"
                required>
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password"
                [(ngModel)]="userRegister.password" required>
        </div>
        <div class="form-group">
            <label>Tipo de cuenta</label>
            <input type="text" class="form-control" readonly value="Particular">
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
</div>
