.container-fluid {
    padding: 0;
}
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.row {
    margin-top: 20px;
}

.col {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

/* Estilos para la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

.table th {
    background-color: #343a40;
    color: #fff;
}

/* Estilos para las etiquetas de estado */
.badge {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
}

/* Estilos para los botones */
.btn {
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}

.btn-outline-primary {
    color: #007bff;
    border: 1px solid #007bff;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
}
