/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Añadir estilos globales para el snack bar */
.custom-snack-bar {
  background-color: #28a745; /* Color de fondo verde */
  color: white; /* Color de texto blanco */
}
