.album {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #025951; /* Color de fondo (#025951) */
}

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.album h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.album h1 {
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

.spinner-border {
  width: 5rem;
  height: 5rem;
  border-width: 0.5em;
}

.card {
  border-radius: 1rem;
  background-color: #038C7F; /* Color de fondo (#025951) */
}

.card-img-top {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  cursor: pointer;
}

.card-text {
  font-size: 1rem;
  color: #ffffff;
}

.card-text button {
  font-size: 1rem;
  color: #f0f0f0; /* Blanco grisáceo */
  font-weight: bold;
  transition: transform 0.3s ease; /* Transición suave */
}

.card-text button:hover {
  transform: scale(1.1); /* Escalar al 110% */
}

.card-footer {
  border-top: none;
}

.btn-outline-secondary {
  color: #038C7F; /* Color del texto (#595959) */
  border-color: #0D0D0D; /* Color del borde (#595959) */
  background-color: #ffffff;
}

.btn-outline-secondary {
  color: #0D0D0D; /* Color del texto (#595959) */
  border-color: #0D0D0D; /* Color del borde (#595959) */
  transition: transform 0.3s ease; /* Transición suave */
}

.btn-outline-secondary:hover {
  color: #ffffff; /* Color del texto al pasar el cursor (#ffffff) */
  background-color: #038C7F; /* Color de fondo al pasar el cursor (#038C7F) */
  transform: scale(1.1); /* Escalar al 110% */
}

small{
  color: #0D0D0D;
  font-weight: bold;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  padding: 10px 20px;
  background-color: #17A6A6; /* Color de fondo de los botones de paginación (#17A6A6) */
  color: #fff; /* Color del texto de los botones de paginación (#fff) */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 5px; /* Añade margen entre los botones */
}

.pagination-button:hover {
  background-color: #038C7F; /* Color de fondo al pasar el cursor de los botones de paginación (#038C7F) */
}

.pagination-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
