<app-header></app-header>

<div class="container-fluid">
    <div class="row">
        <app-user-sidebar class="col-md-3 col-lg-2 p-0"></app-user-sidebar>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-4">
            <div class="profile-header d-flex align-items-center mb-4">
                <div class="profile-picture me-3">
                    <i class="bi bi-person-circle icon-profile"></i>
                </div>
                <div class="profile-details">
                    <h2>Nombre del Usuario</h2>
                    <p class="text-muted">usuarioexample.com</p>
                    <span class="btn btn-primary mt-2" (click)="redirectToEditUser()">Editar Perfil</span>
                </div>
            </div>
        
            <div class="profile-content">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Información Personal</h3>
                        <ul class="list-group mb-4">
                            <li class="list-group-item"><strong>Nombre:</strong> Nombre del Usuario</li>
                            <li class="list-group-item"><strong>Email:</strong> usuarioexample.com</li>
                            <li class="list-group-item"><strong>Teléfono:</strong> +123 456 7890</li>
                            <li class="list-group-item"><strong>Dirección:</strong> Calle Falsa 123, Ciudad, País</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3>Gestión de la Cuenta</h3>
                        <ul class="list-group mb-4">
                            <li class="list-group-item"><a href="#">Historial de Pedidos</a></li>
                            <li class="list-group-item"><a href="#">Métodos de Pago</a></li>
                            <li class="list-group-item"><a href="#">Direcciones Guardadas</a></li>
                            <li class="list-group-item"><a href="#">Configuración de la Cuenta</a></li>
                        </ul>
                    </div>
                </div>
        
                <h3>Preferencias</h3>
                <ul class="list-group mb-4">
                    <li class="list-group-item"><a href="#">Notificaciones</a></li>
                    <li class="list-group-item"><a href="#">Privacidad</a></li>
                </ul>
            </div>
        </main>
        
    </div>
</div>