<app-header></app-header>
<div class="product-file">
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/hogar-y-bienestar">Regalos para Hogar</a></li>
                <li class="breadcrumb-item"><a href="/termos-personalizados">Botellas personalizadas</a></li>
                <li class="breadcrumb-item"><a href="/botellas-agua-personalizadas">Botellas de agua personalizadas</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Botella de agua personalizada de cristal con
                    funda (420 ml)</li>
            </ol>
        </nav>

    </div>
</div>

<section class="product-details box-white">
    <div class="container">
        @if (product) {
        <div class="row">

            <div class="col-sm-7 col-sm-pull-5 col-lg-8 col-lg-pull-4 description">

                <h1 class="bold mg-top-0">
                    <span>{{ product.descriptions && product.descriptions.length > 0 ? product.descriptions[0].type : ''
                        }} {{ product.name }}</span>

                </h1>
                <div class="font-18">
                    <small class="bold font-gray-dark-ms">
                        Ref: {{product.ref}}
                    </small>
                </div>

                <div class="bottom">

                    <div class="media benefit">
                        <div class="media-left">
                            <div class="icon-container">
                                <span class="glyphicon glyphicon-smile"></span>
                            </div>
                        </div>
                        <div class="media-body">
                            <span class="h5 font-blue">Satisfacción 100% garantizada</span>
                            <p>Si no es así <strong>te abonaremos o repetiremos</strong> el pedido de tus regalos</p>
                        </div>

                    </div>
                    <div class="media benefit">
                        <ng-container *ngIf="product.images && product.images.length > 0">
                            <div id="carouselExample" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="carousel-item" *ngFor="let image of product.images; let i = index"
                                        [ngClass]="{'active': i === 0}">
                                        <img [src]="image.img_max" class="d-block w-100" alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="col-sm-5 col-sm-push-7 col-lg-4 col-lg-push-8 delivery-dates">
                <div class="delivery-dates">
                    <p class="delivery-dates-title bold text-left">
                        Compra hoy y recíbelo entre:
                    </p>
                    <dl class="clearfix">
                        <dt>
                            <span class="glyphicon glyphicon-remove font-grayer"></span>
                            SIN PERSONALIZAR
                        </dt>
                        <dd>10 May. - 13 May.</dd>
                        <dt>
                            <span class="glyphicon glyphicon-tint font-grayer"></span>
                            PERSONALIZADO
                        </dt>
                        <dd>
                            <dl class="clearfix">
                                <dt>Envío normal</dt>
                                <dd>16 May. - 17 May.</dd>
                                <dt>Envío <i>express</i></dt>
                                <dd>15 May. - 16 May.</dd>
                            </dl>
                        </dd>
                    </dl>
                </div>
                <button type="button" class="btn btn-green btn-lg btn-block mg-top-20">
                    <span class="glyphicon glyphicon-calculator"></span>
                    CALCULA TU PRECIO Y COMPRA
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row">Medidas y Peso Artículo</th>
                                    <td>
                                        El área es {{ product.length }} * {{ product.width ? product.width : '0' }} * {{ product.height }} cm.<br>
                                        El peso es {{product.weight}} gr.
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Colores disponibles</th>
                                    <td>
                                        @if (product.colorsSet && product.colorsSet.length > 0)
                                        {
                                            @for (item of product.colorsSet; track $index)
                                            {
                                                <span>{{item.name}}</span>
                                            }
                                        }
                                        @else
                                        {
                                            <span>No hay colores disponibles</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Características</th>
                                    <td>
                                        @if (product.descriptions && product.descriptions.length > 0)
                                        {
                                            {{product.descriptions[0].details}}<br><br>
                                            {{product.descriptions[0].comp}}
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="product-specs-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-7 col-md-8">
                            <div class="samples-promotion clearfix">
                                <div class="col-md-7">
                                    <span class="title">¿Quieres comprobar la calidad del producto?</span>
                                    <p>Compra 1 unidad de muestra a un precio más barato.</p>
                                </div>
                                <div class="col-md-5">
                                    <p>Precio 1 unidad</p>
                                    <span content="1.13">1.13</span><span content="eur">€ IVA incluido +
                                        Transporte</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-4">
                            <button type="button" data-href="#calculator" data-scrollto="#calculator-section"
                                data-datalayer-click="calculador-abrir" class="btn btn-green btn-lg btn-block">
                                <span class="flaticon-calculator"></span>
                                CALCULA TU PRECIO Y COMPRA
                                <span class="flaticon-chevron-right"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        }
    </div>
</section>