<app-header></app-header>

<div class="container-fluid">
    <div class="row">
        <app-admin-sidebar class="col-md-3 col-lg-2 p-0"></app-admin-sidebar>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-4 ">

            <h2>Panel de control</h2>
            <div class="row">
                <div class="col-12 col-sm-6 col-xxl-3 d-flex">
                    <div class="card illustration flex-fill">
                        <div class="card-body p-0 d-flex flex-fill">
                            <div class="row g-0 w-100">
                                <div class="col-6">
                                    <div class="illustration-text p-3 m-1">
                                        <h4 class="illustration-text">Welcome Back, Chris!</h4>
                                        <p class="mb-0">AppStack Dashboard</p>
                                    </div>
                                </div>
                                <div class="col-6 align-self-end text-end">
                                    <img src="img/illustrations/customer-support.png" alt="Customer Support"
                                        class="img-fluid illustration-img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xxl-3 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body py-4">
                            <div class="d-flex align-items-start">
                                <div class="flex-grow-1">
                                    <h3 class="mb-2">$ 24.300</h3>
                                    <p class="mb-2">Total Earnings</p>
                                    <div class="mb-0">
                                        <span class="badge badge-subtle-success me-2"> +5.35% </span>
                                        <span class="text-muted">Since last week</span>
                                    </div>
                                </div>
                                <div class="d-inline-block ms-3">
                                    <div class="stat">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" data-lucide="dollar-sign"
                                            class="lucide lucide-dollar-sign align-middle text-success">
                                            <line x1="12" x2="12" y1="2" y2="22"></line>
                                            <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xxl-3 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body py-4">
                            <div class="d-flex align-items-start">
                                <div class="flex-grow-1">
                                    <h3 class="mb-2">43</h3>
                                    <p class="mb-2">Pending Orders</p>
                                    <div class="mb-0">
                                        <span class="badge badge-subtle-danger me-2"> -4.25% </span>
                                        <span class="text-muted">Since last week</span>
                                    </div>
                                </div>
                                <div class="d-inline-block ms-3">
                                    <div class="stat">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" data-lucide="shopping-bag"
                                            class="lucide lucide-shopping-bag align-middle text-danger">
                                            <path d="M6 2 3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4Z"></path>
                                            <path d="M3 6h18"></path>
                                            <path d="M16 10a4 4 0 0 1-8 0"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xxl-3 d-flex">
                    <div class="card flex-fill">
                        <div class="card-body py-4">
                            <div class="d-flex align-items-start">
                                <div class="flex-grow-1">
                                    <h3 class="mb-2">$ 18.700</h3>
                                    <p class="mb-2">Total Revenue</p>
                                    <div class="mb-0">
                                        <span class="badge badge-subtle-success me-2"> +8.65% </span>
                                        <span class="text-muted">Since last week</span>
                                    </div>
                                </div>
                                <div class="d-inline-block ms-3">
                                    <div class="stat">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round" data-lucide="dollar-sign"
                                            class="lucide lucide-dollar-sign align-middle text-info">
                                            <line x1="12" x2="12" y1="2" y2="22"></line>
                                            <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card" id="top-selling-products">
                    <div class="card-header">
                        <h3>Top Selling Products</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <img src="product1.jpg" alt="Product 1" class="img-fluid mr-3">
                                    <div>
                                        <h4>Product Name 1</h4>
                                        <p>Brief product description.</p>
                                    </div>
                                    <span class="badge badge-success text-dark">Revenue: $$1111</span>
                                    <span class="badge badge-info text-dark">Revenue (%): 12%</span>

                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <img src="product2.jpg" alt="Product 2" class="img-fluid mr-3">
                                    <div>
                                        <h4>Product Name 2</h4>
                                        <p>Brief product description.</p>
                                    </div>
                                    <span class="badge badge-success text-dark">Revenue: $$1111</span>
                                    <span class="badge badge-info text-dark">Revenue (%): 12%</span>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <img src="product3.jpg" alt="Product 3" class="img-fluid mr-3">
                                    <div>
                                        <h4>Product Name 3</h4>
                                        <p>Brief product description.</p>
                                    </div>

                                    <span class="badge badge-success text-dark">Revenue: $$1111</span>
                                    <span class="badge badge-info text-dark">Revenue (%): 12%</span>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card" id="top-viewed-products">
                    <div class="card-header">
                        <h3>Top Viewed Products</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <img src="product1.jpg" alt="Product 1" class="img-fluid mr-3">
                                    <div>
                                        <h4>Product Name 1</h4>
                                        <p>This product has been viewed extensively!</p>
                                    </div>
                                    <span class="badge badge-primary text-dark">Views: 1000</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <img src="product2.jpg" alt="Product 2" class="img-fluid mr-3">
                                    <div>
                                        <h4>Product Name 2</h4>
                                        <p>Gaining popularity with a high view count.</p>
                                    </div>
                                    <span class="badge badge-primary text-dark">Views: 850</span>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <img src="product3.jpg" alt="Product 3" class="img-fluid mr-3">
                                    <div>
                                        <h4>Product Name 3</h4>
                                        <p>A rising star with increasing views.</p>
                                    </div>
                                    <span class="badge badge-primary text-dark">Views: 725</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>


        </main>
    </div>
</div>