/* Estilos para la lista de productos */
.list-group-item {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6; /* Añadir un borde delgado */
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: background-color 0.3s; /* Agregar transición suave */
}

.list-group-item:hover {
    background-color: #e9ecef;
}

/* Estilos para la imagen del producto */
.list-group-item img {
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Aumentar la intensidad de la sombra */
}

/* Estilos para el nombre del producto */
.list-group-item h6 {
    color: #212529;
    font-size: 1.2rem;
}

/* Estilos para la descripción del producto */
.list-group-item p {
    color: #6c757d;
}

/* Estilos para los colores disponibles */
.color-options {
    margin-top: 10px;
}

.color-option {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

/* Estilos para el precio */
.list-group-item .text-end h6 {
    color: #007bff;
    font-size: 1.2rem;
}

.list-group-item .text-end p {
    color: #6c757d;
}

/* Estilo para los botones de navegación */
.btn-navigation {
    margin-right: 10px;
}

/* Estilo para los botones cuando están deshabilitados */
.btn-navigation:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Estilo para el botón de ir arriba */
.scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.scroll-to-top-btn:hover {
    background-color: #0056b3;
}

.scroll-to-top-btn i {
    margin-top: 2px;
}

.scroll-to-top-btn.hidden {
    display: none;
}
