.container-fluid {
    padding: 0;
}

/* Estilos para las tablas */
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.5rem;
    background-color: #f0f5ff;
    /* Color de fondo azul claro */
    border: 1px solid #b3c6ff;
    /* Borde azul */
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.table th,
.table td {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #b3c6ff;
    /* Borde azul */
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #b3c6ff;
    /* Borde azul */
    background-color: #d9e6ff;
    /* Color de fondo azul claro para el encabezado de la tabla */
}

.table tbody+tbody {
    border-top: 2px solid #b3c6ff;
    /* Borde azul */
}


/* Estilos para las tarjetas */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

/* Otros estilos */
.mb-0 {
    margin-bottom: 0 !important;
}

.font-14 {
    font-size: 14px;
}

.address-lg {
    font-size: 16px;
}

.header-title {
    color: #333;
    font-size: 20px;
    margin-bottom: 20px;
}

/* Estilos para la pista de progreso */
.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px;
}

/* Estilos para cada paso en la pista */
.track .step {
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative;
}

/* Estilos para el indicador de cada paso */
.track .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px;
}

/* Estilos para el estado activo de cada paso */
.track .step.active:before {
    background: #FF5722;
}

/* Estilos para el ícono de cada paso */
.track .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ddd;
}

/* Estilos para el estado activo del ícono */
.track .step.active .icon {
    background: #ee5435;
    color: #fff;
}

/* Estilos para el texto de cada paso */
.track .text {
    display: block;
    margin-top: 7px;
    font-weight: 400;
    color: #000;
}
