<app-header></app-header>

<main class="full-width-main d-flex justify-content-center align-items-center p-4">
  <div class="d-flex justify-content-center align-items-center" *ngIf="loading">
    <div class="spinner-border m-5" role="status">

    </div>

  </div>
  <div class="row">
    <div class="col-md-3" *ngIf="!loading">
      <div class="col-md-4">
        <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
          <span class="custom-heading mt-5">
            <i class="bi bi-filter-square-fill me-2"></i>
            Busqueda Avanzada
          </span>
          <ul class="custom-list ps-0 pt-4">
            <li class="custom-list-item">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#categorias-collapse" aria-expanded="true">
                <i class="bi bi-chevron-right me-1"></i>Ver Categorías
              </button>
              <div class="collapse show" id="categorias-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li *ngFor="let categoria of categories">
                    <a href="#" class="link-dark rounded">{{ categoria }}</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="border-top my-3"></li>
          </ul>
        </div>
      </div>
    </div>
    <!--PRODUCTOS-->
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4" *ngFor="let item of currentProducts">
          <article class="product-card border border-success" (click)="irAProduct()">
            <div class="product-image">
              <img [src]="item.images[0].img_max" [alt]="item.name" class="img-fluid">
            </div>


            <div class="product-details">
              <span class="product-code">{{ item.ref }}</span>
              <a href="https://www.grupobillingham.com/camiseta-de-mujer-cuello-v-de-mujer-victoria-roly-155"
                class="product-title">{{ item.name }}</a>
              <div class="delivery-info">
                <p class="delivery-title">RECÍBELO:</p>
                <dl class="delivery-dates">
                  <dt>Sin personalizar:</dt>
                  <dd>6 May. - 7 May.</dd>
                  <dt>Personalizado:</dt>
                  <dd>9 May. - 10 May.</dd>
                </dl>
              </div>
              <!--COLORES-->
              <div *ngIf="item.colorsSet && item.colorsSet.length > 0; else noColors" class="color-options">
                <p>Colores disponibles:</p>
                <img *ngFor="let color of item.colorsSet" [src]="color.url" [alt]="color.name" class="color-option">
              </div>

              <ng-template #noColors>
                <p>Color unico.</p>
              </ng-template>


              <div class="product-price">
                <span class="price-from">Desde <strong>€2.08</strong></span>
                <span class="price-to">a <strong>€5.32</strong></span>
              </div>
            </div>
          </article>
        </div>
      </div>

      <div *ngIf="!loading" class="d-flex justify-content-center">
        <!-- Botones para cambiar de página -->
        <button (click)="prevPage()" [disabled]="!hasPrevPage()" class="custom-button">Anterior</button>
        <button (click)="nextPage()" [disabled]="!hasNextPage()" class="custom-button">Siguiente</button>
      </div>

    </div>
  </div>
</main>