<app-header></app-header>

<main class="full-width-main d-flex justify-content-center align-items-center p-4">
  <div class="d-flex justify-content-center align-items-center" *ngIf="loading">
    <div class="spinner-border m-5" role="status">

    </div>

  </div>
  <div class="row">
    <div class="col-md-3" *ngIf="!loading">
      <div class="col-md-4">
        <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
          <span class="custom-heading mt-5">
            <i class="bi bi-filter-square-fill me-2"></i>
            Filtros
          </span>
          <ul class="custom-list ps-0 pt-4">
            <li class="custom-list-item">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#categorias-collapse" aria-expanded="false">
                <i class="bi bi-chevron-right me-1"></i>Ver Categorías
              </button>
              <div class="collapse" id="categorias-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li *ngFor="let categoria of categories">
                    <label class="form-check">
                      <input type="checkbox" class="form-check-input" value="{{categoria}}">
                      {{ categoria }}
                    </label>
                  </li>
                </ul>
              </div>
            </li>
            <li class="border-top my-3"></li>
            <li class="custom-list-item">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#colores-collapse" aria-expanded="false">
                <i class="bi bi-chevron-right me-1"></i>Ver Colores
              </button>
              <div class="collapse" id="colores-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li *ngFor="let color of colors">
                    <label class="form-check">
                      <input type="checkbox" class="form-check-input" value="{{color}}">
                      {{ color }}
                    </label>
                  </li>
                </ul>
              </div>
            </li>
            <li class="border-top my-3"></li>
            <li class="custom-list-item">
              <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#markingtechniques-collapse" aria-expanded="false">
                <i class="bi bi-chevron-right me-1"></i>Ver Tipos
              </button>
              <div class="collapse" id="markingtechniques-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li *ngFor="let tipo of tipos">
                    <label class="form-check">
                      <input type="checkbox" class="form-check-input" value="{{tipo}}">
                      {{ tipo }}
                    </label>
                  </li>
                </ul>
              </div>
            </li>
          </ul>

        </div>

      </div>
    </div>
    <!--PRODUCTOS-->
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4" *ngFor="let item of currentProducts">
          <article class="product-card" (click)="irAProduct(item.ref)">
            <div class="product-image">
              <img [src]="item.images[0].imgMax" [alt]="item.name" class="img-fluid">
            </div>
    
            <div class="product-details">
              <span class="product-code">{{ item.ref }}</span>
              <span class="product-title">{{ item.name }}</span>
              <div class="delivery-info">
                <p class="delivery-title">RECÍBELO:</p>
                <dl class="delivery-dates">
                  <dt>Sin personalizar:</dt>
                  <dd>6 May. - 7 May.</dd>
                  <dt>Personalizado:</dt>
                  <dd>9 May. - 10 May.</dd>
                </dl>
              </div>
              <!--COLORES-->
              <div *ngIf="item.variants && item.variants.length > 0" class="color-options">
                <div class="d-flex flex-wrap">
                  <ng-container *ngFor="let variant of item.variants">
                    <ng-container *ngIf="variant.colorSet">
                      <img [src]="variant.colorSet.url" [alt]="variant.colorSet.name" class="color-option me-2 mb-2">
                    </ng-container>
                    <ng-container *ngIf="!variant.colorSet">
                      <p>Color Unico</p>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
    
              <div class="product-price">
                <span class="price-from">Desde <strong>€2.08</strong></span>
                <span class="price-to">a <strong>€5.32</strong></span>
              </div>
            </div>
          </article>
        </div>
      </div>
    
      <div *ngIf="!loading" class="d-flex justify-content-center">
        <!-- Botones para cambiar de página -->
        <button (click)="prevPage()" [disabled]="!hasPrevPage()" class="custom-button">Anterior</button>
        <button (click)="nextPage()" [disabled]="!hasNextPage()" class="custom-button">Siguiente</button>
      </div>
    </div>
    
  </div>
</main>