

.product-card {
    background-color: #fff;
    border: 1px solid #28a745;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.product-card:hover {
    cursor: pointer;
    background-color: #f0f0f0;
    /* Cambia el color de fondo al pasar el ratón */
    transition: background-color 0.3s ease;
    /* Agrega una transición suave */
}

.product-card:not(:last-child) {
    margin-right: 15px;
}

.product-image {
    position: relative;
    margin-bottom: 15px;
}

.product-image img {
    width: 100%;
    border-radius: 5px;
}

.product-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #28a745;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
}

.product-details {
    text-align: left;
}

.product-code {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

.product-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.delivery-info {
    margin-bottom: 10px;
}

.delivery-title {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
}

.delivery-dates {
    font-size: 14px;
    color: #555;
    margin-left: 20px;
}

.color-options {
    margin-bottom: 10px;
}

.color-option {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.product-price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.price-from,
.price-to {
    display: block;
    margin-top: 5px;
}

.price-to {
    font-size: 14px;
}

/* ASIDE CATEGORIAS */
.custom-heading {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
  }
  
  .custom-list {
    padding-left: 0;
    list-style: none;
  }
  
  .custom-list-item {
    margin-bottom: 10px;
  }
  
  .custom-list-item button {
    color: #000;
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-right: 10px; /* Espacio a la derecha */
  }
  
  .custom-list-item button:hover {
    color: #0056b3;
  }
  
  .custom-list-item button:focus {
    outline: none;
  }
  
  .bi-chevron-right {
    transition: transform 0.3s ease;
  }
  
  .collapsed .bi-chevron-right {
    transform: rotate(90deg);
  }
  
  .btn-toggle:focus {
    outline: none;
  }
  