<div class="header-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <a href="#">Quiénes somos</a>
                <span>|</span>
                <a href="#">Preguntas frecuentes</a>
                <span>|</span>
                <a href="#">Producto garantizado 100%</a>
                <span>|</span>
                <a href="#">Nuestros talleres</a>
                <span>|</span>
                <a href="#">Contacto</a>
            </div>
        </div>
    </div>
</div>

<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <!-- Logo de la empresa -->
            <div id="logo-img" class="col-lg-2 col-md-3 col-4" (click)="irAHome()">
                <span><img src="" alt="Logo" width="50"></span>
            </div>            
    
            <!-- Buscador -->
            <div class="col-lg-5 col-md-5 col-6">
                <form class="d-flex">
                    <input #searchTerm class="form-control me-2" type="search"
                        placeholder="Introduce el producto que estás buscando" aria-label="Search">
                    <button class="btn btn-outline-light" type="button" (click)="irASearch(searchTerm.value)">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
            </div>
    
            <!-- Logo de la cesta -->
            <div class="col-lg-2 col-md-2 col-2 text-end">
                <span (click)="navegatePayment()"><i class="bi bi-cart cart-icon" style="font-size: 24px;"></i></span>
            </div>
    
            <!-- Botón Acceder/Registro con logo de Bootstrap -->
            <div class="col-lg-2 col-md-2 col-2 text-end">
                <span>
                    <button class="btn btn-outline-primary btn-sm" type="button" (click)="irALogin()">
                        <i class="bi bi-person-circle"></i> Acceder/Registro
                    </button>
                </span>
            </div>
        </div>
    </div>    


    <!-- Categorías -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container justify-content-center">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item dropdown">
                        <span class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Categorías
                        </span>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><span class="dropdown-item" (click)="navegateAbanicos()">Abanicos</span></li>
                            <li><span class="dropdown-item" (click)="navegateBotellas()">Botellas</span></li>
                            <li><span class="dropdown-item" (click)="navegateBoligrafos()">Bolígrafos</span></li>
                            <li><span class="dropdown-item" (click)="navegateCamisetas()">Camisetas</span></li>
                            <li><span class="dropdown-item" (click)="navegateBolsas()">Bolsas</span></li>
                            <li><span class="dropdown-item" (click)="navegateGorras()">Gorras</span></li>
                            <li><span class="dropdown-item" (click)="navegateLibretas()">Libretas</span></li>
                            <li><span class="dropdown-item" (click)="navegateMochilas()">Mochilas</span></li>
                            <li><span class="dropdown-item" (click)="navegatePolos()">Polos</span></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" (click)="navegateAbanicos()">Abanicos</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" (click)="navegateBotellas()">Botellas</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" (click)="navegateBoligrafos()">Bolígrafos</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" (click)="navegateBolsas()">Bolsas</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" (click)="navegateCamisetas()">Camisetas</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" (click)="navegateGorras()">Gorras</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" (click)="navegateLibretas()">Libretas</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" (click)="navegateMochilas()">Mochilas</span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link" (click)="navegatePolos()">Polos</span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>    
</header>

